<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        .footer {
            font-size: 12px;
            width: 100%;
            padding: 10px;
            position: fixed;
            bottom: 0;
            text-align: center;
            color: #999;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <div class="footer">©2019 by gun </div>
</body>

</html>